@using Portfolio.Core.Helpers;
@using Portfolio.Core.Utilities.Data.Html;
@model IDataResult<AboutGetDto>

@if (Model.IsSuccess)
{
    var tableData = new TableData(new() { new("Update", $"/admin/abouts/update"), new("Delete", $"/admin/abouts/remove") });

    <my-table data="ObjectCastHelper.CastToObjList(Model.Data)" table-button-link="tableData"></my-table>
}
else
{
    <a asp-action="create" class="btn btn-light px-5">Create</a>
}