<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drake - OnePage Portfolio HTML5 Template</title>
    <link rel="icon" type="image/x-icon" href="~/drake/assets/images/favicon.png">

    <!-- Font -->
    <partial name="Partials/_FontPartial" />
    <!-- Stylesheet -->
    <partial name="Partials/_CssPartial" />

</head>
<body class="home1-page">

    <video class="body-overlay" muted="" autoplay="" loop="">
        <source src="~/drake/assets/images/video5.mp4" type="video/mp4"> <!-- Video -->
    </video>

    <div class="page-loader">
        <div class="bounceball"></div>
    </div>

    <span class="icon-menu">
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    <div class="global-color">
        <span class="setting-toggle">
            <i class="las la-cog"></i>
        </span>
        <div class="inner">
            <div class="overlay"></div>
            <div class="global-color-option">
                <span class="close-settings">
                    <i class="las la-times"></i>
                </span>
                <h2>Configuration</h2>
                <div class="global-color-option-inner">
                    <p>Colors</p>
                    <div class="color-boxed">
                        <a href="#" class="clr-active" onclick="color1();"></a>
                        <a href="#" onclick="color2();"></a>
                        <a href="#" onclick="color3();"></a>
                        <a href="#" onclick="color4();"></a>
                        <a href="#" onclick="color5();"></a>
                        <a href="#" onclick="color6();"></a>
                        <a href="#" onclick="color7();"></a>
                        <a href="#" onclick="color8();"></a>
                    </div>

                    <p>THREE DIMENSIONAL SHAPES</p>
                    <ul class="themes">
                        <li><a href="home1.html">Earth Lines Sphere</a></li>
                        <li><a href="home2.html">3D Abstract Ball</a></li>
                        <li><a href="home3.html">Water Waves</a></li>
                        <li><a href="home4.html">Liquids Wavy</a></li>
                        <li><a href="home6.html">Solid Color</a></li>
                        <li><a href="home5.html">Simple Strings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("SideBarMenu")

    @await Component.InvokeAsync("Menu")

    @await Component.InvokeAsync("LeftSideBar")

    <main class="drake-main">
        <div id="smooth-wrapper">
            <div id="smooth-content">
                @RenderBody()
            </div>
        </div>
    </main>

    <partial name="Partials/_ScriptsPartial" />
    @RenderSection("Scripts", false)
</body>
</html>