@model ContactCreateDto

<section class="contact-area page-section scroll-content" id="contact">
    <div class="custom-container">
        <div class="contact-content content-width">
            <div class="section-header">
                @* <my-icon-name entity-name="@Model.GetType().Name"></my-icon-name>*@
                <h1 class="scroll-animation" data-animation="fade_from_bottom">Let's Work <span>Together!</span></h1>
            </div>
            <h3 class="scroll-animation" data-animation="fade_from_bottom">hello@drake.design</h3>
            <p id="required-msg">* Marked fields are required to fill.</p>

            <form method="post" class="contact-form scroll-animation" data-animation="fade_from_bottom">
                <div class="alert alert-success messenger-box-contact__msg" style="display: none" role="alert">
                    Your message was sent successfully.
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label asp-for="FullName">Full Name <sup>*</sup></label>
                            <input asp-for="FullName" placeholder="Your Full Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label asp-for="Email">Email <sup>*</sup></label>
                            <input asp-for="Email" placeholder="Your email adress">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label asp-for="Subject">Subject <sup>*</sup></label>
                            <input asp-for="Subject" placeholder="Your subject">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label asp-for="Phone">phone <span>(optional)</span></label>
                            <input asp-for="Phone" placeholder="Your number phone">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <label asp-for="Message">message</label>
                            <textarea asp-for="Message" placeholder="Wrire your message here ..."></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group upload-attachment">
                            <div>
                                <label for="upload-attachment">
                                    <i class="las la-cloud-upload-alt"></i> add an attachment
                                    <input type="file" name="file" id="upload-attachment">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group captcha">
                            <label id="refresh" asp-for="CaptchaCode">Captcha Code <sup>*</sup></label>
                            <img src="~/get-captcha-image" id="img-captcha" />
                            <input asp-for="CaptchaCode" placeholder="Captcha Code" />
                            <span asp-validation-for="CaptchaCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group submit-btn-wrap">
                            <button type="submit" class="theme-btn" id="submit-form">send message</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


@section Scripts {
    <script>
        $("#refresh").click(function () {
            resetCaptchaImage();
        });

        function resetCaptchaImage() {
            d = new Date();
            $("#img-captcha").attr("src", "/get-captcha-image?" + d.getTime());
        }
    </script>
}