@{
    Layout = null;
}

<html>
<head>
    <title>Bakım</title>
</head>
<style>
    body {
        background-color: #E84C3D;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: -webkit-fill-available;
    }

    .field {
        font-size: 30px;
        font-family: 'Footlight MT'
    }

    .footer {
        color: #373636;
        position: fixed;
        bottom: 15px;
    }
</style>
<body>
    <div class="container">
        <p class="field">Sorry we're down for maintenance</p>
        <p class="footer">Thank you for your understanding</p>
    </div>
</body>
</html>